{% extends "dashlayout.html" %}

{% block body %}


<h4>All Your responses</h4>

<br>
<div class="row">

    {% for response in responses %}
    <div class="col-md-4">
        <a href='{{url_for("adminresponses", id=response.id)}}' style="text-decoration: none; color: black;">

        <div data-aos="fade-up" class="dashboard-item" style="background-color: white;">
            <div style="display: flex;">
                <h6>🎹</h6>
                <h6 style="font-weight: bold; color: black;">{{response.formName}}</h6>
            </div>
            <h6 class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat recusandae quasi architecto natus? Blanditiis optio.</h6>
            <h6 class="dashboard-item-text">12 responses</h6>
        </div>
        </a>
    </div>

    {% endfor %}
    </div>

{% endblock %}